/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GOOGLE FONTS */
body {
    font-family: 'Montserrat', sans-serif;
}
/*****    class test    *******/
.border-test {
    border: 1px dashed magenta;
}

/********     WRAPPER     *********/
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/*******     HEADER     *******/
header#side-header {
    width: 60px;
    height: calc(100vh - 60px);
    background-color: black;
}




/*********     MAIN    ********/
main {
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    background-color: rgb(20, 25, 34);
}
/*****  Call to action div   *****/
#call-to-action {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(8, 11, 18);
    padding: 1rem .4rem 1.5rem 0;
}
#call-to-action button {
    color: white;
    text-transform: uppercase;
    background-color: black;
    padding: .6rem 1.7rem;
    border: 1px solid white;
    border-radius: 2rem;
    font-weight: 600;
    font-size: .7rem;
}



/********    TASK-BAR    ********/
footer#task-bar {
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
}

@media screen and (min-width: 576px) {
    header#side-header {
        width: 220px;
    }
    main {
        width: calc(100% - 220px);
    }
}